services:
  # Primary database
  postgres:
    image: postgres:17-alpine
    container_name: pulse-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    restart: on-failure
    networks:
      - app_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.5'
      
  drizzle-gate:
    image: ghcr.io/drizzle-team/gateway:latest
    container_name: pulse-drizzle-gateway
    environment:
      DATABASE_URL: postgresql://postgres:1234@postgres:5432/postgres
      STORE_PATH: /app
    restart: on-failure
    depends_on:
      - postgres
    ports:
      - "4983:4983"
    volumes:
      - drizzle_gateway_data:/app
    networks:
      - app_network

  # Streaming, Leaderboard and Caching layer
  valkey:
    image: valkey/valkey:8.1.1-alpine
    container_name: pulse-valkey
    restart: on-failure
    ports:
      - "6379:6379"
    command: valkey-server --appendonly yes # persistance
    volumes:
      - valkey_data:/data
    networks:
      - valkey_network

  # UI for Valkey (cache)
  insight:
    image: redislabs/redisinsight:latest
    container_name: pulse-insight
    restart: on-failure
    ports:
      - "5540:5540"
    depends_on:
      - valkey
    environment:
      - VALKEY_HOST=valkey
      - VALKEY_PORT=6379
    networks:
      - valkey_network

networks:
  app_network:
    driver: bridge
  valkey_network:
    driver: bridge

volumes:
  postgres_data:
  valkey_data:
  drizzle_gateway_data:
